{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}

{% if error_message %}
<script>
        alert('{{ error_message }}');
</script>
{%endif%}

<form method="POST">{% csrf_token %}
        <fieldset>
        {% for field in form %}
    <div class="form-group">
        <label for="{{field.auto_id}}" class="col-sm-12 text-center control-label"><strong>{{field.label}}:</strong></label>
                  <div class="col-md-12 text-center">
						{% render_field field class='form-control-sm'%}
				      </div>
        {%endfor%}
        <div class="container"><br>
            <div class="col-sm-12 text-center">
            <button class="btn btn-primary" type="submit">Login</button>
            
                <br>
                <br>
                <p>Don't have an account? <a href="{% url 'registro' %}">/Create</a></p>
                    
                
                <br>
                <p>Forgot your password? <a href="{% url 'forgotPassword' %}">/Recover</a> </p>
                
                <br>
                <a href="https://github.com/andrequeiroz2/deviceio"><ion-icon name="logo-github" size="large"></ion-icon></a>

        </div>
        </fieldset>
    </form>
</div>


{%endblock%}
