{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
<style>
    #button{ text-align: center }
    .btn{
        width: 190px;
        text-align: center;
        padding: 15px 20px;
        border: 1px solid #eee;
        border-radius: 6px;
        font-size: 18px;
    }
  </style>
  

{% if error_message %}
<script>
        alert('{{ error_message }}');
</script>
{%endif%}

<form method="POST">{% csrf_token %}
    <fieldset>
        {% for field in form %}
    <div class="form-group">
        <label for="{{field.auto_id}}" class="col-sm-12 text-center control-label"><strong>{{field.label}}:</strong></label>
                  <div class="col-md-12 text-center">
						{% render_field field class='form-control-sm'%}
				      </div>
        {%endfor%}
        <div id='button' class="container"><br>
            <div class="col-sm-12 text-center">
            <p><button class="btn btn-primary" type="submit">Sign up</button></p>
            <p><a href="{% url 'login' %}" class="btn btn-secondary">Back</a></p>
            
        </div>
        </fieldset>
    </form>


{% endblock %}